.DS_Store
.idea
composer.lock
composer.phar
codecept.phar
codeception.yml
/application/configs/dev
/data/cache
/data/logs
/data/queues
/data/sessions
/data/uploads
/public/.htaccess
/public/redactor
/public/vendor
/vendor