<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         stopOnFailure="false"
         colors="true"
         verbose="true"
         bootstrap="./bootstrap.php">
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./modules</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="\Application\Tests\TestListener"/>
    </listeners>
    <filter>
        <whitelist>
            <directory suffix=".php">../library</directory>
            <directory suffix=".php">../models</directory>
            <directory suffix=".php">../modules</directory>
            <exclude>
                <directory suffix=".phtml">../modules</directory>
                <directory suffix=".php">../modules/configs</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>