.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}
ol.sortable, ol.sortable ol {
    margin: 0 0 0 25px;
    padding: 0;
    list-style-type: none;
}

.sortable li {
    margin: 5px 0 0 0;
    padding: 0;
}

.sortable li div {
    margin: 0;
    cursor: move;
}

li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
    background: #fafafa;
}

.disclose {
    cursor: pointer;
    width: 10px;
    display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
    content: '+ ';
}

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
    content: '- ';
}

.sortable li.mjs-nestedSortable-leaf div.active {
    border: 1px #000000 solid;
}

.tree-wrapper .tree-header{
    margin-bottom: 0;
    font-weight: 700;
}
