/*!
 * Dashboard Layout CSS
 */
/* Sidebar navigation */

/* Grid */
.table td {
  vertical-align: middle;
}

.table label.form-check-label {
  height: 24px;
  text-align: center;
  display: block;
  padding: 0;
}

.table label.form-check-label:hover {
  cursor: pointer;
}

.table .controls > a {
  width: 38px;
  padding: 0.375rem;
}

/* Scrollable table */
.table-fixed {
  overflow-x: auto;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tfoot {
  display: flex;
  flex-direction: column;
}

.table-fixed thead {
  /*margin-right: 17px;*/
}

.table-fixed tbody {
  height: 60vh;
  overflow-y: scroll;
}

.table-fixed tr {
  display: flex;
  min-height: 42px;
}

.table-fixed td,
.table-fixed th {
  flex: 1;
  border: 1px solid #eee;
}
