/*!
 * Print CSS
 */
body {
    padding: 20px;
	margin: 0;
	color: #000;
	background: #fff;
    position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
	color: #06c;
	text-decoration: underline;
}
a:link:after {
	content: " [" attr(href) "] ";
}
.navbar {
	display: none;
}
.debug-panel {
	display: none;
}