/**
 * Based CSS
 *
 * Included 
 *
 * @author   Anton Shevchuk
 * @created  06.07.11 16:20
 */
body {
    padding-top: 60px;
    position: relative;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left { float:left }
.right { float:right }
.clear { clear:both }
.empty { height:0 }

.textleft { text-align:left }
.textright { text-align:right }
.textcenter { text-align:center }

footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}
/*Messages*/
#messages {
    padding:0;
    z-index:1100;
    font-weight:700;
    font-size:1.6em;
    position:fixed;
    top:40px;
    left:0;
    width:100%;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P9/yxmAAAMACTIDf5NbzpMAAAAASUVORK5CYII=);
    background:rgba(255, 255, 180, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#95fffcc0, endColorstr=#95fffcc0);
}
    #messages p {
        width:1024px;
        margin:10px auto;
        font-size: 14px;
        line-height: 16px;
    }
    #messages p.error {
        color: #b94a48;
    }
    #messages p.info {
        color: #3a87ad;
    }
    #messages p.success {
        color: #468847;
    }
/*/Messages*/
/* Loading */
#loading {
	width: 180px;
	height: 50px;
	float:right;
	background: url("../img/loading.gif") 50% 50% no-repeat;
	display: none;
}
/*/Loading */
/*Small Layout*/
.layout-small .center {
    width: 290px;
}
.layout-small .well {
    width: 250px;
}
/*/Small Layout*/
/*Dashboard Widgets*/
.widget {
    border: 1px solid #CDCDCD;
    clear: both;
    margin-top: 16px;
    margin-bottom: 16px;
    position: relative;
}
.widget-title {
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}
.widget-title .iconholder-left {
	border-right: 1px solid #cdcdcd;
	padding: 9px 10px 7px 11px;
	float: left;
	opacity: .7;
}
.widget-title .iconholder-right {
	border-left: 1px solid #cdcdcd;
	padding: 9px 11px 7px 10px;
	float: right;
	opacity: .7;
}
.widget-title h4 {
    color: #666666;
	text-shadow: 0 1px 0 #ffffff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding: 12px;
    line-height: 12px;
    margin: 0;
}
.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}
.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 15px 0 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #ffffff;
}
.widget-content {
	padding: 12px 15px;
}

.widget-stats {
	margin: 0;
	padding: 0;
	list-style: none;
}
.widget-stats li {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    cursor: pointer;
    margin: 0 0 10px;
    padding: 13px 20px 10px;
    position: relative;
}
.widget-stats li:hover {
    background-color: #EDEDED;
}
.widget-stats li.divider {
	padding: 0;
	border-width: 1px 0 0;
	border-color: #DDDDDD;
	border-style: dashed;
}
.widget-stats li i {
	vertical-align: baseline;
}
.widget-stats li strong {
	font-weight: bold;
	font-size: 20px;
	margin-left: 5px;
}
.widget-stats li small {
	margin-left: 5px;
	font-size: 12px;
	color: #888888;
	font-style: italic;
}
.widget-stats li a:hover {
	text-decoration: none;
}

/*/Dashboard Widgets*/
/*Bootstrap fix*/
.modal form {
	margin: 0;
}
.table.grid+.table {
	margin-top: -20px;
}
.table.grid .controls {
	padding: 2px 8px;
}
.breadcrumb a:hover {
	text-decoration: none;
}

.nav-dashboard {
    width:233px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-shadow: 0 1px 0 #fff;
    background-color: #f7f5fa;
    border-radius: 5px;
}

.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #08C;
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }
}
/*/Bootstrap fix*/

