/**
 * Based CSS
 *
 * Included 
 *
 * @author   Anton Shevchuk
 * @created  06.07.11 16:20
 */
body {
    padding-top: 60px;
    position: relative;
}
article, aside, header, footer, section {
    display:block;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left { float:left }
.right { float:right }
.clear { clear:both }
.empty { height:0 }

.textleft { text-align:left }
.textright { text-align:right }
.textcenter { text-align:center }


/*Messages*/
#messages {
    padding:0;
    z-index:1100;
    font-weight:700;
    font-size:1.6em;
    position:fixed;
    top:40px;
    left:0;
    width:100%;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P9/yxmAAAMACTIDf5NbzpMAAAAASUVORK5CYII=);
    background:rgba(255, 255, 180, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#95fffcc0, endColorstr=#95fffcc0);
}
    #messages p {
        width:1024px;
        margin:10px auto;
        font-size: 14px;
        line-height: 16px;
    }
    #messages p.error {
        color: #b94a48;
    }
    #messages p.info {
        color: #3a87ad;
    }
    #messages p.success {
        color: #468847;
    }
/*/Messages*/
/* Loading */
#loading {
	width: 180px;
	height: 40px;
	float:right;
	background: url("../img/loading.gif") 50% 50% no-repeat;
	display: none;
}
/*/Loading */
/*Bootstrap fix*/
.modal form {
	margin: 0;
}
.table.grid .controls {
	padding: 2px 8px;
}
.breadcrumb a:hover {
	text-decoration: none;
}
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover {
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
	background-color: #08C;
}
/*/Bootstrap fix*/

