/**
 * Based CSS
 *
 * Included 
 *
 * @author   Anton Shevchuk
 * @created  06.07.11 16:20
 */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left { float:left }
.right { float:right }
.clear { clear:both }
.empty { height:0 }

.textleft { text-align:left }
.textright { text-align:right }
.textcenter { text-align:center }

article, aside, header, footer, section {
    display:block;
}

/*Messages*/
#messages {
    padding:0;
    z-index:1100;
    font-weight:700;
    font-size:1.6em;
    position:fixed;
    top:40px;
    left:0;
    width:100%;
    border-top:1px solid #aaa;
    border-bottom:1px solid #aaa;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABBJREFUeNpi+P9/yxmAAAMACTIDf5NbzpMAAAAASUVORK5CYII=);
    background:rgba(255, 255, 180, 0.9);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#95fffcc0, endColorstr=#95fffcc0);
}
    #messages p {
        width:1024px;
        margin:10px auto;
        font-size: 14px;
        line-height: 16px;
    }
    #messages p.error {
        color: #b94a48;
    }
    #messages p.info {
        color: #3a87ad;
    }
    #messages p.success {
        color: #468847;
    }
/*/Messages*/
/* Loading */
#loading {
	width: 180px;
	height: 40px;
	float:right;
	background: url("../img/loading.gif") 50% 50% no-repeat;
	display: none;
}
/*/Loading */
/* Debug Panel */
.debug-panel {
    height: 32px;
    width: 98%;
    left:1%;
    bottom: 0;
    position: fixed;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    z-index:99999;

    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    background-color: #EEEEEE;
    border: 1px solid #CCCCCC;
    border-bottom: 0;
    padding: 0;
    transition: height 0.5s 0.33s;
    -moz-transition: height 0.5s 0.33s;
    -webkit-transition: height 0.5s 0.33s;
    -o-transition: height 0.5s 0.33s;
}
.debug-panel:hover {
    height: 432px;
    max-height: 100%;

    transition: height 1s 0.33s;
    -moz-transition: height 1s 0.33s;
    -webkit-transition: height 1s 0.33s;
    -o-transition: height 1s 0.33s;
}
	.debug-panel-header {
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
		padding: 4px 4px 0 4px;
	}
	.debug-panel-title {
		font-size: 12px;
		margin: 0 4px 4px 4px;
		line-height: 24px;

	}
	.debug-panel-title span {
		padding: 4px;
		margin-right: 4px;
	}
	.debug-panel-version {
		float: right;
	}
	.debug-panel-content {
		height: 400px;
		overflow: auto;
		padding: 0 4px 4px 4px;
	}
	.debug-panel-content pre {
		margin-top: 4px;
		background: inherit;
	}

/*/Debug Panel */
/*Bootstrap fix*/
.modal form {
	margin: 0;
}
.table.grid .controls {
	padding: 2px 8px;
}
/*/Bootstrap fix*/

