SetEnv BLUZ_ENV dev
SetEnv BLUZ_LOG true
SetEnv BLUZ_DEBUG_KEY BLUZ_DEBUG

AddDefaultCharset UTF-8

Options +FollowSymlinks
Options -Indexes

# PHP settings
<ifModule mod_php5.c>
	php_flag magic_quotes_gpc 0

	php_flag xdebug.show_local_vars 0
	php_flag xdebug.profiler_enable 0

	php_value xdebug.var_display_max_children 128
	php_value xdebug.var_display_max_depth 5
	php_value xdebug.var_display_max_data 4096
</ifModule>

# Mod Rewrite
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /

	# loop stopping
	RewriteCond %{ENV:REDIRECT_STATUS} 200
	RewriteRule .* - [L]

	RewriteCond %{REQUEST_FILENAME} -s [OR]
	RewriteCond %{REQUEST_FILENAME} -l [OR]
	RewriteCond %{REQUEST_FILENAME} -d [OR]
	RewriteCond %{REQUEST_URI} ^/(css|font|img|js|uploads) [OR]
	RewriteCond %{REQUEST_URI} \.(ico|jpe?g|png|svg|gif|swf|flv)$
	RewriteRule ^.*$ - [NC,L]
	RewriteRule ^.*$ index.php [NC,L]
</IfModule>
