SetEnv APPLICATION_ENV production

php_flag magic_quotes_gpc 0

php_flag xdebug.show_local_vars 0
php_flag xdebug.profiler_enable 0
php_flag xdebug.profiler_enable_trigger 1
php_value xdebug.var_display_max_children 128
php_value xdebug.var_display_max_depth 5
php_value xdebug.var_display_max_data 4096

Options +FollowSymlinks
Options -Indexes

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /

# loop stopping
RewriteCond %{ENV:REDIRECT_STATUS} 200
RewriteRule .* - [L]

RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_URI} ^/(css|img|js|uploads) [OR]
RewriteCond %{REQUEST_URI} \.(jpe?g|png|gif|ico)$
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

</IfModule>
