version: '2'
services:
  code:
    image: debian:jessie
    volumes:
      - ../:/var/www

  nginx:
    build: nginx
    container_name: bluz_nginx
    volumes_from:
      - code
    ports:
      - "81:80"
    links:
      - php:fpm
    depends_on:
      - php

  php:
    build: php
    container_name: bluz_php
    environment:
      - DEVELOPER_HOST=172.17.0.1
      - DEVELOPER_PORT=9000
    volumes_from:
      - code
    links:
      - mysql
    depends_on:
      - mysql
    environment:
      - USER=dev

  mysql:
    build: mysql
    container_name: bluz_mysql
    volumes_from:
      - mysqldata
    ports:
      - "3307:3306"
    environment:
      - MYSQL_DATABASE=bluz
      - MYSQL_USER=developer
      - MYSQL_PASSWORD=nodevpass
      - MYSQL_ROOT_PASSWORD=rootpass

  mysqldata:
    image: debian:jessie
    volumes:
      - /var/lib/mysql