version: '2'
services:
  code:
    image: debian:jessie
    volumes:
      - ../:/var/www

  nginx:
    build: nginx
    container_name: bluz_nginx
    volumes_from:
      - code
    ports:
      - "80:80"
    links:
      - php:fpm
    command: /bin/bash -c "export SERVER_NAME=%server_name% DOC_ROOT=/var/www
          || envsubst '${SERVER_NAME},${DOC_ROOT}' < /default.conf.template > /etc/nginx/conf.d/default.conf
          && nginx -g 'daemon off;'"

  php:
    build: php
    container_name: bluz_php
    environment:
      - DEVELOPER_HOST=172.17.0.1
      - DEVELOPER_PORT=9000
    volumes_from:
      - code
    links:
      - mysql

  mysql:
    build: mysql
    container_name: bluz_mysql
    volumes_from:
      - mysqldata
    ports:
      - "3306:3306"

  mysqldata:
    image: debian:jessie
    volumes:
      - /var/lib/mysql